blinker==1.9.0
certifi==2025.1.31
click==8.1.8
cloudinary==1.42.2
colorama==0.4.6
distlib==0.3.9
filelock==3.17.0
flask==3.1.0
flask-Cors==5.0.0
gunicorn==20.1.0
itsdangerous==2.2.0
Jinja2==3.1.5
joblib==1.4.2
lz4==4.4.3
MarkupSafe==3.0.2
mtcnn==1.0.0
numpy==2.2.3
opencv-python==4.11.0.86
platformdirs==4.3.6
PyAudio==0.2.14
six==1.17.0
SpeechRecognition==3.14.1
typing_extensions==4.12.2
urllib3==2.3.0
virtualenv==20.29.1
Wave==0.0.2
Werkzeug==3.1.3
