.compiler-questions {
  width: 70%;
  height: 98%;
  min-width: 150px;
  max-width: 90vw;
  overflow-y: auto;
  background-color: #282828;
  color: white;
  border-radius: 10px;
  margin-left: 10px;
  font-size: 20px;
  margin-top: 10px;
}
.questions-header {
  padding-left: 20px;
  background-color: #1a1a1a;
  display: flex;
  align-items: center;
  gap: 5px;
  height: 50px;
  position: relative;
}
.questions-content {
  padding-left: 20px;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 20px;
  position: relative;
}
.question_marks_body{
  position: absolute;
  top: -12px;
  font-size: 22px;
  right: 20px;
  color: rgb(193, 116, 22);
}
.content-heading {
  font-weight: 600;
  font-size: xx-large;
}
.questions-image {
  max-width: 500px;
  width: 80%;
}
