.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #282828;
    color: white;
    font-size: 22px;
    height: 75px;
    position: relative;
  }
  
  .hamburger-icon {
    font-size: 24px;
    cursor: pointer;
  }
  
  .problem-list-text {
    margin-left: 10px;
    font-size: 18px;
    color: white;
  }
  
 .navbar-name {
    font-size: 18px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    left: 15%;
}
  
  .navbar-contents {
    display: flex;
    align-items: center;
    gap: 25px;
  }
  
  .navbar-submit, .navbar-timer  {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #1a1a1a;
    width: 100px;
    justify-content: center;
    border-radius: 10px;
    border: 2px solid #1a1a1a;
  }
  
  .navbar-submit {
    height: 40px;
    width: 125px;
    background-color: #4caf50;
    border-color: #4caf50;
  }
  
  .navbar-timer {
    width: 150px;
    height: 50px;
  }
  
  .navbar-left-margin {
    display: flex;
    align-items: center;
    margin-left: 20px;
  }
  
  .navbar-right-margin {
    margin-right: 20px;
  }
  
  /* Sidebar Styles */
  .sidebar {
    position: absolute;
    top: 0;
    left: -100%;
    width: 35%;
    height: 100%;
    background-color: #333;
    color: white;
    transition: 0.5s ease-in-out;
    z-index: 1000;
    
  }
  
  .sidebar.open {
    left: 0;
    padding: 0px 20px;
    overflow-y: auto;
  }
  
  .slidebar-back-icon {
    position: absolute;
    top: 20px;
    right: 20px; /* Move the icon to the right */
    font-size: 36px;
    cursor: pointer;
  }
  
  .question-list {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 80px;
  }
  .navbar_question-marks{
    color:rgb(193, 116, 22);
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 12px;
  }
  .slidebar-ele {
    padding: 10px;
   position: relative;
    margin-bottom: 15px;
    font-size: 18px;
    cursor: pointer;
    border-bottom: 1px solid #ffffff1a;
   
  }
  .slidebar-ele p{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    margin-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .slidebar-ele:hover {
    background-color: #1a1a1a;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }
.navbar_question-description{
  margin: 0px;
}

  
  /* Media Queries */
  @media (max-width: 720px) {
    .navbar {
      font-size: 15px;
    }
  
    .navbar-run, .navbar-submit, .navbar-timer {
      width: 80px;
      height: 40px;
    }
  
    .navbar-timer {
      width: 115px;
      margin-left: 5px;
    }
  
    .navbar-contents {
      gap: 5px;
    }
  
    .navbar-name {
      gap: 0px;
    }
  }
  
  @media (max-width: 440px) {
    .navbar-timer {
      width: 100px;
      margin-left: 0;
    }
  }

  .navigation-display-flex
  {
      display: flex;
      justify-content: center;
      gap: 5px;
      align-items: center;
  }
  .navigation-display-flex p
  {
    font-size: large;
    background-color: #1a1a1a;
    color: white;
    border-radius: 10px;
    border: 2px solid #1a1a1a;
    width: 125px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
  .navigation-display-flex p:hover
  {
    background-color: #1a1a1a44;
    cursor: pointer;
  }
  .navbar-submit:hover
  {
    cursor: pointer;
    background-color: #4caf4f62;
    border-color: #4caf4f62;
  }

  .question-description
  {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  @media (max-width: 1024px){
    .problem-list-text{
      display: none;
    }
  }